<!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML//EN">
<html> <head>
<title>ACP Controle Times</title>

  <!-- 'viewport' is used by bootstrap to respond to device size -->
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Javascript:  JQuery from a content distribution network (CDN) -->
  <script
     src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js">
  </script>

  <!-- Bootstrap includes javascript and css  (must follow jquery) -->
  <link rel="stylesheet"
   href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
   <script
    src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
   </script>

  <!-- <script type="text/javascript"  -->
  <!--    src="/static/js/calc.js"> -->
  <!-- </script> -->
</head>

   <!-- Our own style sheet -->
   <link rel="stylesheet" href="/static/css/calc.css" />

<body>
<!-- bootstrap requires a 'container' div around content -->
<div class="container">

<h1>ACP Brevet Closing times</h1>
<h2>Event Length</h2></br>
  <select name ="event_length" id="event_length">
    <option value="200 km">200</option>
    <option value="300 km">300</option>
    <option value="400 km">400</option>
    <option value="600 km">600</option>
    <option value="1000 km">1000</option>
  </select>
  <input type="text" name="start_date" value="Enter a Start 'MM/DD/YYYY'">
  <input type="text" name="start_time" value="Enter a Start 'HH:MM'">

  <!--
  -- If there are any warnings or other messages from a prior
  -- request to the server, 
  -- they appear above the rest of the content, just until the next 
  -- action.  (This is only on request/response transactions that
  -- result in regenerating the page, not on every xmlhttp request.) 
  -->

{% with messages = get_flashed_messages() %}
  {% if messages %}
    <ul class=flashes>
    {% for message in messages %}
      <li>{{ message }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endwith %}

<!-- Design on bootstrap grid -->
<form role="form">
<div class="row">
  <div class="col-md-2">
    <input type="text" class="form-control"
     name="distance" value="Distance in kilometers"/>
  </div>
  <div class="col-md-4">
    <input type="text" class="form-control"
      name="location" value="location" />
  </div>
  <div class="col-md-4">
    <span class="open_gate">open</span>
  </div>
  <div class="col-md-4">
    <span class="close_gate">close</span>
  </div>
</div>

</form>

<script type="text/javascript">

  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};

  $(document).ready(function(){
   // Do the following when the page is finished loading

      // When a field named 'distance' is changed ...
      $('input[name="distance"]').change(
          // ... execute this function
          function(){
              var e_km = $(this).val();
              var open_target = $(this).parents(".row").find(".open_gate");
              var close_target = $(this).parents(".row").find(".close_gate");
              var start_time = document.getElementById("start_time").value;
              var start_date = document.getElementById("start_date").value;


              // DEBUG: How do I replace the 'times' field?
              // alert("Content of the field I want to change: " +
              //   target.html());

              // AJAX request
              $.getJSON($SCRIPT_ROOT + '/_calc_times',
                  // The object to pass to the server
                  { km: e_km, start_tm: start_time, start_dt: start_date},
                  // The function to call with the response

                  function(data) {
                     var new_open, new_close = data.result;
                     // alert("Got a response: " +  new_open);
                     open_target.text(new_open);
                     close_target.text(new_close);
                  }); // End of the call to getJSON
          });  // End of the function to be called when field changes
              

     });   // end of what we do on document ready

</script>

</div>
</body> </html>
